#rant-list
  - @rants = Rant.order('id DESC').limit(10) 
  - for rant in @rants
    .rant
      %h3 ... #{rant.ensure_rant}
      - if !rant.link.blank?
        = link_to 'Link', rant.ensure_link, {:target => '_blank',:class => 'rant-link'}
.modal.fade#submit-modal{:tabindex => "-1", :role => "dialog", 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => "button", 'data-dismiss' => "modal", 'aria-hidden'=>"true"}
        %h4.modal-title
          The Governent Shutdown Kept Me From...
      .modal-body
        %form
          = text_area_tag 'rant-input', nil, {:placeholder => "... ", :class => 'form-control'}
          %br
          = text_field 'link-input', nil, {:placeholder => "(Optional) Link to this story" , :class => 'form-control'}
      .modal-footer
        %button#close-submit.btn.btn-default{:type=>"button"}
          Just lookin.
        %button#submit-rant.btn.btn-primary.red-button{:type=>"button"}
          Submit
-#%a.red-button{'data-toggle' => "modal", :href => "#myModal", :class => "btn btn-primary btn-lg"} Share a story
:javascript
  request_path = "#{CFG['domain']}"
