#rant-list
  - @rants = Rant.select([:id,:rant,:radix,:link]).order('id DESC').limit(10) 
  = render :template => '/rants/scroll'
.modal.fade#submit-modal{:tabindex => "-1", :role => "dialog", 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => "button", 'data-dismiss' => "modal", 'aria-hidden'=>"true"}
        %h4.modal-title
          The Government Shutdown Kept Me From...
      .modal-body
        %form
          = text_area_tag 'rant-input', nil, {:placeholder => "... a short blurb", :class => 'form-control', :style => 'height: 40px;'}
          %br
          = text_area_tag 'description-input', nil, {:placeholder => "... the whole story", :class => 'form-control', :style => 'height:100px'}
          %br
          = text_field 'link-input', nil, {:placeholder => "Link to this story (Optional)" , :class => 'form-control'}
      .modal-footer
        %button#close-submit.btn.btn-default{:type=>"button"}
          Close
        %button#submit-rant.btn.btn-primary.red-button{:type=>"button"}
          Submit
-#%a.red-button{'data-toggle' => "modal", :href => "#myModal", :class => "btn btn-primary btn-lg"} Share a story
:javascript
  request_path = "#{CFG['domain']}"

  // http://stackoverflow.com/questions/3701311/jquery-event-when-user-stops-scrolling
  var timer;
  $(window).bind('scroll',function () {
    clearTimeout(timer);
    timer = setTimeout( refresh , 150 );
  });
  var refresh = function () { 
    // if we stop scrolling and we're near the bottom, add content
    user_actions.bottom_scroll_check()
  };

