!!!
%html
%head
  %title The Government Shutdown Kept Me From ...
  -#= stylesheet_link_tag "/bootstrap.min.css"
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  = yield :head
%body
  #fb-root
  .navbar.navbar-inverse.navbar-fixed-top#main-nav-bar
    .navbar-inner{:style => "height:40px;"}
      .container{:style => "height:40px;"}
        %a.navbar-brand#title-link{:href => "#"}
          The Government Shutdown Kept Me From ... 
        -#.nav-collapse.collapse{:style => 'float:right;'}
          -#%ul.nav.navbar-nav
            -#%li 
              -#%a{:href => "https://hautaulogy", :target => "_blank"} 
                -#Made by some guy.
  .container{:style => "margin-top:120px;"}
    = yield 
